@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(45, 78, 110);
  background: -moz-linear-gradient(
    180deg,
    rgba(45, 78, 110, 1) 0%,
    rgba(23, 57, 89, 1) 35%,
    rgba(12, 41, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(45, 78, 110, 1) 0%,
    rgba(23, 57, 89, 1) 35%,
    rgba(12, 41, 70, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(45, 78, 110, 1) 0%,
    rgba(23, 57, 89, 1) 35%,
    rgba(12, 41, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d4e6e",endColorstr="#0c2946",GradientType=1);
  background-attachment: fixed;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #ffffff22;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 6px;
}
.TodoWrapper:hover {
  background: #ffffff27;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #0e2946;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}
.todo-input:hover,
.todo-input:active {
  border: 1px solid #034363;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #0e2946;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e2946;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}
